#form
{
margin:auto;
width:20%;
margin-top:10%;
background-color:silver;
text-align:center;
border-radius:5px
}
#titre
{
padding-top:2%;
font-family:Comic Sans MS;
border-bottom:1px solid grey
}
.label
{
font-family:Comic Sans MS
}
.champ
{
border-radius:5px;
padding:2%;
width:70%
}
#submit
{
margin-top:2%;
border-radius:5px;
font-family:Comic Sans MS;
}
#code
{
font-size:large;
text-align:center;
margin:auto;
width:20%;
margin-top:10%;
border-radius:5px;
font-family:Comic Sans MS;
}